@import "bootstrap-sprockets";
@import "bootstrap";
@import "variables";
@import "welcome";
@import url(//fonts.googleapis.com/css?family=Dosis:400);
@import url(//fonts.googleapis.com/css?family=Open+Sans:400,600);

// Overrides
.nav-tabs > li > a:hover, .nav-tabs > li > a:focus  {
  background-color: transparent;
  border-color: transparent;
}

.container {
  width: 100%;
}

// Custom

.nav-tabs > li:first-child > a {
  font-size: 15px;
  font-weight: 600;
  padding: 8px 10px 0 0;

} 

h1, 
h2, 
h3, 
h4, 
h5, 
h6 {
  font-family: $dosis;
}

.inner-wrapper {
  margin:0 auto;
  padding: 0;
  width: 70%;
}

.filler-height {
  min-height:600px;
}

.custom-nav-styles {
  background-color: $blue-ish;
  font-size: 0.9em;
  margin: 0;
  padding: 5px;
  

  ul {
    border: none;
    padding: 20px 0;

    a {
      color: $white;
      font-family: $open-sans, san-serif;
    }
  }

  .user-info {
    color: $white;
  }
}

.footer {
  background-color: #2A2F36;
  margin: 0;
  padding: 30px 0;

  footer {
    color: $white;
    padding: 0;
    text-align: center;
    
  }
}
